<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/quiqqer/"
          name="quiqqer-dashboard"
          require="package/quiqqer/dashboard/bin/backend/utils/open"
          icon="URL_BIN_DIR/16x16/quiqqer.png"
    >
        <locale group="quiqqer/dashboard" var="panel.title"/>
    </item>

</menu>
