.quiqqer-dashboard {
    background: #F2F2F2;
}

.quiqqer-dashboard--loading {
    height: calc(100% - 40px) !important;
    overflow: hidden !important;
}

.quiqqer-dashboard-loader {
    align-items: center;
    background: #F2F2F2;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.quiqqer-dashboard-loader .fa {
    color: #8F9399;
    font-size: 5rem;
    text-align: center;
}

.quiqqer-dashboard .qui-panel-content,
.quiqqer-dashboard .qui-panel-header {
    background: #F2F2F2;
}

.quiqqer-dashboard .qui-panel-header {
    border-bottom: none;
}

.quiqqer-dashboard-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.quiqqer-dashboard-cards {
    display: flex;
    flex-wrap: wrap;
}

.quiqqer-dashboard-card {
    display: flex;
}

/** design
 ========================================= */

.quiqqer-dashboard-one-stat .quiqqer-dashboard-card-container {
    padding: 0.75rem;
    text-align: center;
}

.quiqqer-dashboard-one-stat-text {
    clear: both;
    color: rgb(154, 160, 172);
    display: block;
}

.quiqqer-dashboard-one-stat-value {
    color: rgb(73, 80, 87);
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    padding: 10px 0;
}

.quiqqer-dashboard-one-stat-icon-only {
    font-weight: normal;
}


/** default widths
 ========================================= */

.qdc-w10 {
    width: 10%;
}

.qdc-w20 {
    width: 20%;
}

.qdc-w25 {
    width: 25%;
}

.qdc-w30 {
    width: 30%;
}

.qdc-w40 {
    width: 40%;
}

.qdc-w50 {
    width: 50%;
}

.qdc-w60 {
    width: 60%;
}

.qdc-w70 {
    width: 70%;
}

.qdc-w80 {
    width: 80%;
}

.qdc-w90 {
    width: 90%;
}

.qdc-w100 {
    width: 100%;
}

.qdc-w16 {
    width: calc(100% / 6);
}

.qdc-w33 {
    width: calc(100% / 3);
}
