#quiqqer-dashboard-bookmarks .qui-panel {
    border-radius: 0;
}

#quiqqer-dashboard-bookmarks .qui-panel-buttons {
    background: none;
}

#quiqqer-dashboard-bookmarks .qui-panel-buttons button.qui-button {
    width: 50px;
}

#quiqqer-dashboard-bookmarks .qui-panel-buttons button.qui-button:last-of-type {
    float: right;
    border-right: none;
    border-left: 1px solid #CCCFD5;
}


#quiqqer-dashboard-bookmarks .qui-panel-buttons button.qui-button-active {
    background: none !important;
    color: #2F8FC6;
}


#quiqqer-dashboard-bookmarks .qui-panel-content.box {
    padding: 0;
}