<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="quiqqer/dashboard" var="user.profile.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container hasCheckbox">
                <span class="field-container-item">
                    {locale group="quiqqer/dashboard" var="user.profile.isDisabled"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="quiqqer.dashboard.isDisabled"/>
                </span>
            </label>
            <div class="field-container-item-desc">
                {locale group="quiqqer/dashboard" var="user.profile.isDisabled.description"}
            </div>
        </td>
    </tr>
</table>
